[defaults]
roles_path = roles
interpreter_python = /usr/bin/python3
host_key_checking = True
retry_files_enabled = False

[privilege_escalation]
become = False
become_method = sudo
become_user = root
