---
services:
  loki:
    image: "grafana/loki:{{ loki_version }}"
    container_name: loki

    command:
      - "-config.file=/etc/loki/loki.yml"

    network_mode: host
    restart: unless-stopped

    volumes:
      - "./loki/loki.yml:/etc/loki/loki.yml:ro"
      - "loki_data:/loki"

    logging:
      driver: json-file

      options:
        max-size: "10m"
        max-file: "3"

  prometheus:
    image: "prom/prometheus:v{{ prometheus_version }}"
    container_name: prometheus

    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - >-
        --storage.tsdb.retention.time={{
        prometheus_retention_time }}
      - >-
        --storage.tsdb.retention.size={{
        prometheus_retention_size }}
      - >-
        --web.listen-address={{
        prometheus_http_listen_address }}:{{
        prometheus_http_port }}

    network_mode: host
    restart: unless-stopped

    volumes:
      - >-
        ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - "prometheus_data:/prometheus"

    logging:
      driver: json-file

      options:
        max-size: "10m"
        max-file: "3"

  grafana:
    image: "grafana/grafana:{{ grafana_version }}"
    container_name: grafana

    network_mode: host
    restart: unless-stopped

    depends_on:
      - loki
      - prometheus

    volumes:
      - "grafana_data:/var/lib/grafana"

      - >-
        ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro

      - >-
        ./grafana/provisioning:/etc/grafana/provisioning:ro

      - >-
        ./grafana/dashboards:/var/lib/grafana/dashboards:ro


    logging:
      driver: json-file

      options:
        max-size: "10m"
        max-file: "3"

volumes:
  loki_data:
    name: monitoring_loki_data

  prometheus_data:
    name: monitoring_prometheus_data
    
  grafana_data:
    name: monitoring_grafana_data
