---
apiVersion: 1

providers:
  - name: centralised-logging
    orgId: 1
    folder: "{{ grafana_logging_folder_name }}"
    folderUid: centralised-logging
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 30
    allowUiUpdates: false

    options:
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: false
