---
apiVersion: 1

deleteDatasources:
  - name: "{{ grafana_loki_datasource_name }}"
    orgId: 1

datasources:
  - name: "{{ grafana_loki_datasource_name }}"
    uid: "{{ grafana_loki_datasource_uid }}"
    type: loki
    access: proxy
    orgId: 1
    url: "http://127.0.0.1:{{ loki_http_port }}"
    isDefault: true
    editable: false

    jsonData:
      timeout: 60
      maxLines: 1000