---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

localAPIEndpoint:
  advertiseAddress: "{{ kubernetes_control_plane_address }}"
  bindPort: {{ kubernetes_control_plane_port }}

nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: "{{ kubernetes_cri_socket }}"
  imagePullPolicy: IfNotPresent

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

clusterName: "{{ kubernetes_cluster_name }}"

controlPlaneEndpoint: >-
  {{ kubernetes_control_plane_address }}:{{ kubernetes_control_plane_port }}

apiServer:
  certSANs:
    - "{{ kubernetes_control_plane_address }}"
    - "{{ inventory_hostname }}"
    - "kubernetes"
    - "kubernetes.default"
    - "kubernetes.default.svc"
    - "kubernetes.default.svc.{{ kubernetes_dns_domain }}"

networking:
  podSubnet: "{{ kubernetes_pod_network_cidr }}"
  serviceSubnet: "{{ kubernetes_service_network_cidr }}"
  dnsDomain: "{{ kubernetes_dns_domain }}"

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

cgroupDriver: systemd