[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User={{ node_exporter_user }}
Group={{ node_exporter_group }}

ExecStart={{ node_exporter_binary_path }} --web.listen-address={{ node_exporter_listen_address }}:{{ node_exporter_port }}{% for collector in node_exporter_enabled_collectors %} \
  --collector.{{ collector }}{% endfor %}

Restart=on-failure
RestartSec=5s

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=multi-user.target